body
{
	background: green;
	font-family: arial;
}
h1,p,h2
{
	color: #999;
}
a
{
	color: blue;
}
.secondary
{
	background: #578;
	color: #000;
	padding: 10px;
}
#special
{
	background: #555;
	color: #150;
}